<%- include('partials/header.ejs') %>



<section class="hero">
  
  <video autoplay loop muted playsinline class="hero-smoke-bg" >
      <source src="\Assets\Smoke_7___40s___4k_res.mp4" type="video/mp4" />
    </video>
 
  <div class="hero-content">
    
    <h1><span class="bb">He</span>isen<span class="bb">Ba</span>log</h1>
    <p >Better Call This App</p>
    
    <form class="search-form" action="/search" method="GET">
      <input type="text" name="type" placeholder="Say MY Name" >
      <button type="submit">Search</button>
  </div>
  
  

  

</section>
<section class="content" >
  <% if (locals.err) { %>
    <H1 style="font-size: 2rem;font-weight: bolder; font-family: 'Shadows Into Light', cursive; color: rgb(255, 0, 0);"><%= err %></H1>
   
  <% } %>
  
  <div class="card-container" >
    <% blog_data.forEach(element => { %>
      <a href="/post/<%=element.id %>" style="text-decoration: none;">
      <div class="card" >

        <img class="card-img" src=<%= element.image_path %>>
        <span><%=element.category%></span>
        <div class="card-content" >
          <h5 class="card-title"><%=element.title %></h5>
           <p class="card-desc"><%-element.description.slice(0,100).replace(/<[^>]*>/g, '') %></p>
        </div>
      </div>
     </a>
    <% }) %>
    
  </div>


</section>

<%- include('partials/footer.ejs') %> 


<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>





<script>
  const hero = document.querySelector('.hero');
  hero.addEventListener('mousemove', e => {
    const x = e.clientX;
    const y = e.clientY;
    hero.style.setProperty('--cursor-x', `${x}px`);
    hero.style.setProperty('--cursor-y', `${y}px`);
    e.stopImmediatePropagation();

    hero.style.setProperty('--mask-size', '100px');
  });
  hero.addEventListener('mouseenter', (e) => {
    e.stopPropagation();
  hero.style.setProperty('--mask-size', '100px');
});

hero.addEventListener('mouseleave', (e) => {
  e.stopPropagation();
  
  hero.style.setProperty('--mask-size', '0px');
});


</script>


    
